body {
    background-color: rgb(0, 170, 156);
    
}
#box {
    padding: 30px;
    border: 10px ridge rgb(0, 23, 231);
    background-color: rgb(163, 244, 255);
}

h1 {
    color: rgb(20, 20, 124);
}

.search {
    padding: 10px;
    background-color: rgb(226, 224, 224);
    border: 5px solid rgb(141, 141, 141);
}

table {
    background-color: rgb(163, 214, 235);
    border: 10px ridge rgb(116, 114, 114);
}